<select class="form-select p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" id="selectEquipamento" aria-label="Default select example" (change)="onSelectionChange($event)">
  <option value="ativacao-internet">ATIVAÇÃO DE INTERNET</option>
  <option value="mudanca-endereco">MUDANÇA DE ENDEREÇO</option>
</select>

<app-ativacao-internet *ngIf="selectedOption !== 'mudanca-endereco'"></app-ativacao-internet>
<app-mudanca-endereco *ngIf="selectedOption === 'mudanca-endereco'"></app-mudanca-endereco>
