<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        INFORMAÇÕES DO CLIENTE E DO TECNICO
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <label for="nomeCliente">NOME DO CLIENTE</label>
        <input type="text" class="form-control" [(ngModel)]="nomeDoCliente" name="nomeDoCliente">

        <label for="nomeTecnico">NOME DO TECNICO</label>
        <input type="text" class="form-control" [(ngModel)]="nomeDoTecnico" name="nomeDoTecnico">
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        NOVA CTO/CEIP
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="radio-group">
          <input type="radio" id="cto" name="ctoSelecionada" value="cto" (change)="selecaoCtoCeip($event)">
          <label for="cto">CTO</label>

          <input type="radio" id="ceip" name="ctoSelecionada" value="ceip" (change)="selecaoCtoCeip($event)">
          <label for="ceip">CEIP</label>

          <input type="radio" id="switch" name="ctoSelecionada" value="switch" (change)="selecaoCtoCeip($event)">
          <label for="switch">SWITCH</label>

          <input type="radio" id="ctoSemIdentificacao" name="ctoSelecionada" [(ngModel)]="semIdentificacao" value="ctoSemIdentificacao" (change)="selecaoCtoCeip($event)">
          <label for="ctoSemIdentificacao">SEM IDENTIFICAÇÃO</label>
        </div>

        <input type="text" *ngIf="esconderInput && mostrarInputCtoCeip" [(ngModel)]="valorCtoCeip" [placeholder]="tipoCtoCeipSelecionado" name="valorCtoCeip">
        <input type="number" *ngIf="esconderInput || !mostrarInputCtoCeip" [(ngModel)]="valorPortaCtoCeip" placeholder="PORTA:" name="porta">
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        OBSERVAÇÃO
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h5>OBSERVAÇÃO:</h5>
        <textarea name="textObservacao" id="textArea" [(ngModel)]="textObservacao"></textarea>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        AÇÕES
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <button type="button" class="btn btn-success" (click)="gerarAtendimento()">GERAR ATENDIMENTO</button>
        <button type="button" class="btn btn-success">GERAR OS</button>
        <button type="button" class="btn btn-warning" (click)="limparAtendimento()">LIMPAR</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resultadoModal" tabindex="-1" aria-labelledby="resultadoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultadoModalLabel">ENVIE ESSE ATENDIMENTO AO GRUPO TEAMS / SUPORTE N1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-secondary" role="alert">
          <pre id="atendimentoText">{{ atendimentoGerado }}</pre>
        </div>
        <button type="button" class="btn btn-primary" (click)="copiarTexto()">Copiar Texto</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>




